/* Empty. Add your own CSS if you like */





.clear{
  border: none !important;
  padding: none !important;
}
.slider{
  margin-top: -.2rem;
  margin-left: -.2rem;
}
.align_center{
  text-align: center;
}
.size_full{
  width: 100%;
}
.size_80{
  width: 80%;
}
.size_25{
  width: 25%;
}
.size_20{
  width: 20%;
}
.inline{
  display: inline-block;
}


input{
  border: .1rem solid grey !important;
  border-radius: 1rem;
}
