/* Custom CSS */
input{
  border: .1rem solid grey !important;
  border-radius: 1rem;
  margin: .1rem;
}
select{
  border: .1rem solid grey !important;
  border-radius: 1rem;
  margin: .1rem;
}
.holder {
  margin: 0;
  margin-bottom: .5rem;
  padding: 0;
}
.navBG_list{
  background: rgb(64, 64, 64);
}
.navBG_friends{
  background: rgb(64, 64, 64);
}
.navBG_account{
  background: rgb(64, 64, 64);
}



/* List Details */
.dropArrow{
  background: linear-gradient(rgb(255, 255, 255), rgb(41, 85, 121));
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.51);
  border-bottom: .1rem solid grey;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  height: .4rem;
}
.listSettings{
  background: linear-gradient(#11c1f3, rgb(232, 243, 251));
  height: 11rem;
}

/* Tabs */
.tabHeader{
  border-bottom: .1rem solid grey;
}


.addRecipient{
  height: 1.5rem !important;
}
.topSelect{
  margin-top: .3rem;
}
.addBtn{
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 1rem;
}
.detailAdd{
  margin-top: -.25rem;
  margin-left: 1rem;
  font-size: 3rem;
  color: #275675;
}
.topBtn{
  margin-top: -.55rem;
  font-size: 2rem;
}
.recipientBtn{
  font-size: 1.2rem;
}
.clear{
  border: none !important;
  padding: none !important;
  background: none !important;
  background-color: none !important;
}
.slider{
  margin-top: -.2rem;
  margin-left: -.2rem;
}
.align_center{
  text-align: center;
}
.align_right{
  text-align: right;
}
.align_left{
  text-align: left;
}
.size_full{
  width: 100%;
}
.size_90{
  width: 90%;
}
.size_80{
  width: 80%;
}
.size_75{
  width: 75%;
}
.size_60{
  width: 60%;
}
.size_50{
  width: 50%;
}
.size_40{
  width: 40%;
}
.size_33{
  width: 33%;
}
.size_30{
  width: 30%;
}
.size_25{
  width: 25%;
}
.size_20{
  width: 20%;
}
.size_10{
  width: 10%;
}
.size_5{
  width: 5%;
}
.inline{
  display: inline-block;
}
a:active{
  color: #286ada;
}
a:visited{
  color: #286ada;
}
a:link{
  color: #286ada;
}
a:hover{
  color: grey;
}
a{
  text-decoration: none;
}
