
<ion-view ng-init="LDC.verify(); showTab='Items'; showInProgress=true; dropDown = false; sortBy='name'; reverse=false; nameReverse=false; amountReverse=false; searchingReverse=false; acquiredReverse=false" view-title="{{list.name}}">
  <ion-content class="">
    <div class="row holder size_full">
      <div class="col-md-12 size_full holder">
        <div class="row listSettings" ng-hide="!dropDown">
          <div class="col-md-12 size_full">
            <div class="row tabHeader">
              <div class="col-md-4 size_33 align_center">
                <a href="" ng-click="showTab='Items'; LDC.resetError()">Items</a>
              </div>
              <div class="col-md-4 size_33 align_center">
                <a href="" ng-click="showTab='Recipients'; LDC.resetError()">Recipients</a>

              </div>
              <div class="col-md-4 size_33 align_center">
                <a href="" ng-click="showTab='Statistics'; LDC.resetError()">Statistics</a>

              </div>
            </div>
            <div class="row" ng-show="showTab=='Items'">
              <div class="col-md-12 size_full">
                <div class="row">
                  <div class="col-md-12 size_full align_center">
                    Add an item.
                  </div>
                </div>
                <div class="row size_full">
                  <div class="col-md-9 size_75">
                    <input class="align_center size_full" type="text" name="name" value="" placeholder="Name" ng-model="item_name">
                    <input class="align_center size_full" type="text" name="amount" value="" placeholder="Amount" ng-model="item_amount">
                    <select class="align_center size_full"  name="category" ng-model="item_category">
                      <option value="meat">Meat</option>
                      <option value="dairy">Dairy</option>
                      <option value="grains">Grains</option>
                      <option value="kitchen">Kitchen</option>
                      <option value="other">Other</option>
                    </select>
                  </div>
                  <div class="col-md-3 size_25">
                    <button class="ion-ios-plus-outline button-positive addBtn detailAdd align_center" type="button" ng-click="LDC.addItem({'name':item_name, 'amount':item_amount, 'category':item_category, 'list_id':list.id})" name="addBtn"></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" ng-show="showTab=='Recipients'" ng-init="recipientEmail = ''">
              <div class="col-md-12 size_full">
                <div class="row">
                  <div class="col-md-12 size_full align_center">
                    Add a recipient to this list.
                  </div>
                </div>
                <div class="row size_full">
                  <div class="col-md-9 size_75">
                    <input class="align_center size_full" type="text" name="addemail" value="recipientEmail" ng-model="recipientEmail" placeholder="Email" ng-change="LDC.searchFriends(recipientEmail)">
                    {{recipientEmail}}
                  </div>
                  <div class="col-md-3 size_25">
                    <button class="ion-ios-plus-outline button-positive addBtn detailAdd align_center" type="button" ng-click="LDC.addRecipient(recipientEmail, list)" name="addBtn"></button>
                  </div>
                </div>
                <div class="row" ng-show="LDC.tempFriends.length > 0">
                  <div class="col-md-12 size_full">
                    <div class="row autoList" ng-repeat="friend in LDC.tempFriends">
                        <div class="col-md-6 size_50 align_center" ng-click="LDC.checkLog(recipientEmail)">
                          {{friend.firstName}}
                          {{friend.lastName}}
                        </div>
                        <div class="col-md-6 size_50 align_left" ng-click="recipientEmail = friend.email">
                          {{friend.email}}
                        </div>
                    </div>
                  </div>
                </div>
                <div ng-show="LDC.error" class="row size_90 flashError">
                  <div class="col-md-9 size_full">
                    <span >{{LDC.error}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" ng-show="showTab=='Statistics'">
              <div class="col-md-12">
                <div ng-repeat="(key, value) in list.stats" class="row">
                  <div class="col-md-12">
                    {{key}} : {{value}}
                  </div>
                </div>
                Statistics
              </div>
            </div>
          </div>
        </div>
        <div class="row dropArrow">
          <div class="col-md-12 size_full  align_center" ng-click="dropDown = !dropDown; LDC.resetError()">
            <span class="ion-ios-arrow-down"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 size_50">
        <input class="align_center inline" type="text" name="searchItem" ng-model="searchItem" value="" placeholder="Search">
      </div>
      <div class="col-md-6 size_50">
        <ion-checkbox class="clear inline"  ng-checked="showInProgress" ng-model="showInProgress">
          Show In Progress
        </ion-checkbox>
      </div>
    </div>


    <div class="row padding">
      <div class="col-md-3 size_25" ng-click="sortBy = 'name'; nameReverse = !nameReverse; reverse = nameReverse">
        Name
        <div class="topSelect inline">
          <span ng-hide="nameReverse" class="ion-ios-arrow-up size_50 align_center"></span>
          <span ng-show="nameReverse" class="ion-ios-arrow-down size_50 align_center"></span>
        </div>
      </div>
      <div class="col-md-3 size_25" ng-click="sortBy = 'amount'; amountReverse = !amountReverse; reverse = amountReverse">
        Amount
        <div class="topSelect inline">
          <span ng-hide="amountReverse" class="ion-ios-arrow-up size_50 align_center"></span>
          <span ng-show="amountReverse" class="ion-ios-arrow-down size_50 align_center"></span>
        </div>
      </div>
      <div class="col-md-3 size_25" ng-click="sortBy = 'searching';searchingReverse = !searchingReverse; reverse = searchingReverse">
        Searching
        <div class="topSelect inline">
          <span ng-hide="searchingReverse" class="ion-ios-arrow-up size_50 align_center"></span>
          <span ng-show="searchingReverse" class="ion-ios-arrow-down size_50 align_center"></span>
        </div>
      </div>
      <div class="col-md-3 size_25" ng-click="sortBy = 'acquired'; acquiredReverse = !acquiredReverse; reverse = acquiredReverse">
        Acquired
        <div class="topSelect inline">
          <span ng-hide="acquiredReverse" class="ion-ios-arrow-up size_50 align_center"></span>
          <span ng-show="acquiredReverse" class="ion-ios-arrow-down size_50 align_center"></span>
        </div>
      </div>
    </div>
    <ion-list>
      <ion-item class="item-remove-animate" ng-repeat="item in list.items | filter:searchItem | orderBy:sortBy:reverse">

        <div class="row">
          <div class="col-md-3 size_25">
            <span class="itemHeader">{{item.name}}</span>
            <p class="description">
              {{item.category}}
            </p>
          </div>
          <div class="col-md-3 size_25">
            {{item.amount}} oz
          </div>
          <div class="col-md-3 size_25" ng-init="item.searching_mark = (item.searching > 0)">
            <ion-checkbox class="clear"  ng-checked="item.searching > 0" ng-model="item.searching_mark" ng-change="item.changed = {searching:item.searching_mark}; LDC.updateItem(item)">
            </ion-checkbox>
          </div>
          <div class="col-md-3 size_25" ng-init="item.acquired_mark = (item.acquired > 0)">
            <ion-checkbox  class="clear" ng-checked="item.acquired > 0" ng-model="item.acquired_mark" ng-change="item.changed = {acquired:item.acquired_mark}; LDC.updateItem(item)">
            </ion-checkbox>
          </div>
        </div>


        <ion-option-button class="button-calm" ng-click="">
          Edit
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
