
<ion-view ng-init="LDC.verify()" view-title="{{list.name}}">
  <ion-content class="padding">
    <div class="row">
      <div class="col-md-3 size_25">
        Name
      </div>
      <div class="col-md-3 size_25">
        Amount
      </div>
      <div class="col-md-3 size_25">
        Searching?
      </div>
      <div class="col-md-3 size_25">
        Acquired?
      </div>
    </div>
    <div class="" ng-repeat="item in list.items | orderBy:'name':false">
      <div class="row">
        <div class="col-md-3 size_25">
          {{item.name}}
          <p>
            {{item.category}}
          </p>
        </div>
        <div class="col-md-3 size_25">
          {{item.amount}} oz
        </div>
        <div class="col-md-3 size_25" ng-init="item.searching_mark = (item.searching > 0)">
          <ion-checkbox class="clear"  ng-checked="item.searching > 0" ng-model="item.searching_mark" ng-change="item.changed = {searching:item.searching_mark}; LDC.updateItem(item)">
          </ion-checkbox>
        </div>
        <div class="col-md-3 size_25" ng-init="item.acquired_mark = (item.acquired > 0)">
          <ion-checkbox  class="clear" ng-checked="item.acquired > 0" ng-model="item.acquired_mark" ng-change="item.changed = {acquired:item.acquired_mark}; LDC.updateItem(item)">
          </ion-checkbox>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
