<ion-view ng-init="AC.showProfile = AC.verify(); AC.signup = false" view-title="Account">
  <ion-content>
    <div class="bar bar-loading" ng-class="{'bar-assertive' : (data.error), 'bar-balanced' : (data.success)}" ng-if="data.flash">
      {{data.text}}
    </div>
  <img class="accntBanner" src="./img/ListShareBanner.png" alt="" />
    <div class="row" ng-hide="AC.showProfile">
      <div class="col-md-1 size_20">

      </div>
      <div class="col-md-10 align_center size_full" ng-hide="AC.signup">
        <p>
          <label for="email">Email</label>
          <input class="align_center size_full" ng-model="LI_email" type="email" name="email" placeholder="Email" value="">
        </p>
        <p>
          <label for="password">Password</label>
          <input class="align_center size_full" ng-model="LI_password" type="password" name="password" placeholder="Password" value="">
        </p>
        <p>
          <button class="authBtn button button-block button-positive" type="button" name="loginBtn" ng-click="AC.login(LI_email, LI_password)">Log In</button>
        </p>
        <p>
          <a href="#" ng-click="AC.signup = !AC.signup">Need to Sign Up?</a>
        </p>
      </div>
      <div class="col-md-10 align_center size_full" ng-show="AC.signup">
        <p>
          <label for="email">Email</label>
          <input class="align_center size_full" ng-model="SU_email" type="email" name="email" placeholder="Email" value="">
        </p>
        <p>
          <label for="password">Password</label>
          <input class="align_center size_full" ng-model="SU_password" type="password" name="password" placeholder="Password" value="">
        </p>
        <p>
          <label for="firstName">First Name</label>
          <input class="align_center size_full" ng-model="SU_fname" type="text" name="firstName" placeholder="First Name" value="">
        </p>
        <p>
          <label for="lastName">Last Name</label>
          <input class="align_center size_full" ng-model="SU_lname" type="text" name="lastName" placeholder="Last Name" value="">
        </p>
        <p>
          <button class="authBtn button button-block button-positive" type="button" name="signupBtn" ng-click="AC.register(SU_email, SU_password, SU_fname, SU_lname);">Sign Up</button>
        </p>
        <p>
          <a href="#" ng-click="AC.signup = !AC.signup">Need to Log In?</a>
        </p>
      </div>
      <div class="col-md-1 size_20">

      </div>
    </div>

    <div ng-show="AC.showProfile" class="row size_full">
      <div class="col-md-12 size_full">
        <button class="authBtn button button-block button-positive" type="button" ng-click="AC.logout()" name="button">Log Out</button>

      </div>
    </div>

  </ion-content>
  <div class="developerInfo description size_full" ng-show="!AC.signup">
    <p class="align_center">
      Developed by Micah Eberhard
    </p>
    <p class="align_center">
      micah.eberhard@gmail.com
    </p>
    <p class="align_center">
      (970) 227-0405
    </p>
  </div>
</ion-view>
