<ion-view ng-init="FC.verify()" view-title="Friends">
  <ion-content class="">
    <div class="row">
      <div class="col-md-12 size_full">
        <div class="row">
          <div class="col-md-12 size_full align_center">
            Add a friend.
          </div>
        </div>
        <div class="row size_full">
          <div class="col-md-9 size_75">
            <input class="align_center size_full" type="text" name="addemail" value="" ng-model="friendEmail" placeholder="Email">
          </div>
          <div class="col-md-3 size_25">
            <button class="ion-ios-plus-outline button-positive addBtn detailAdd align_center" type="button" ng-click="FC.addFriend(friendEmail)" name="addBtn"></button>
          </div>
        </div>
        <div ng-show="FC.error" class="row size_90 flashError">
          <div class="col-md-9 size_full">
            <span >{{FC.error}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row padding">
      <div class="col-md-12 size_full">
        <div class="row">
          <div class="col-md-12 size_full">
            <ion-list>
              <ion-item ng-repeat="friend in FC.friendList">
                <span class="itemHeader">{{friend.firstName}} {{friend.lastName}}</span>
                <p class="description">
                  {{friend.email}}
                </p>
                <ion-option-button class="button-assertive" ng-click="">
                  Delete
                </ion-option-button>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
