<ion-view ng-init="FC.verify()" view-title="Friends">
  <ion-content class="ng-hide" ng-class="{'has-loading': data.isLoading}" ng-show="FC.isVisible">
    <div class="bar bar-loading" ng-class="{'bar-assertive' : (data.error), 'bar-balanced' : (data.success)}" ng-if="data.flash">
      {{data.text}}
    </div>

    <div class="row">
      <div class="col-md-12 size_full">
        <div class="row">
          <div class="col-md-12 size_full align_center">
            Add a friend.
          </div>
        </div>
        <ng-form name="addFriend_form">
          <div class="row size_full">
            <div class="col-md-9 size_75">
              <input class="align_center size_full" type="email" name="addEmail" value="" ng-model="friendEmail" placeholder="Email">
            </div>
            <div class="col-md-3 size_25">
              <button class="ion-ios-plus-outline button-positive addBtn detailAdd align_center" type="button" ng-click="FC.addFriend(friendEmail); friendEmail=''" name="addBtn"></button>
            </div>
          </div>
          <div ng-show="addFriend_form.$submitted || addFriend_form.addEmail.$touched">
            <p>
              <span ng-show="addFriend_form.addEmail.$error.required" class="flashError">This is a required field.</span>
              <span ng-show="addFriend_form.addEmail.$error.email" class="flashError">Not a valid email.</span>
            </p>
  		    </div>
          <div ng-show="FC.error" class="row size_90 flashError">
            <div class="col-md-9 size_full">
              <span >{{FC.error}}</span>
            </div>
          </div>
        </ng-form>
      </div>
    </div>
    <div class="row padding">
      <div class="col-md-12 size_full">
        <div class="row">
          <div class="col-md-12 size_full">
            <ion-list>
              <ion-item ng-repeat="friend in FC.friendList" class="item-remove-animate item-icon-right basicRound basicShadow">
                <div class="row">
                  <div class="col-md-11 size_full">
                    <span class="itemHeader">{{friend.firstName}} {{friend.lastName}}</span>
                    <p class="description">
                      {{friend.email}}
                    </p>
                  </div>
                  <div class="col-md-1 size_5">
                    <i class="icon ion-chevron-right icon-accessory"></i>
                  </div>
                </div>


                <ion-option-button class="button-assertive" ng-click="FC.removeFriend(friend)">
                  Delete
                </ion-option-button>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
